﻿@model NetFlask.Models.HomeViewModel
@{ 
    ViewBag.Title = "Home - NetFlask 4Ever";
    
}
@section HeaderInfo
{
  @{
      Html.RenderPartial("~/Views/Shared/_HomeHeader.cshtml",Model.HighLighMovie);
          }
} 
<div class="review-slider">
    <ul id="flexiselDemo1">
        @foreach (string nomImage in Model.ListeUne)
        {
            @:<li><img src="https://image.tmdb.org/t/p/w200/@nomImage" alt="" /></li>
        }

 
    </ul>
    @Scripts.Render("~/Scripts/Flexi1")
    @Scripts.Render("~/Scripts/Flexisel")
</div>
<div class="video">
    <iframe src="@Model.HighLighMovie.Video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="news">
    <div class="col-md-6 news-left-grid">
        <h3>Don’t be late,</h3>
        <h2>Book your ticket now!</h2>
        <h4>Easy, simple & fast.</h4>
        <a href="#"><i class="book"></i>BOOK TICKET</a>
        <p>Get Discount up to <strong>10%</strong> if you are a member!</p>
    </div>
    <div class="col-md-6 news-right-grid">
        <h3>News</h3>
        <div class="news-grid">
            <h5>Lorem Ipsum Dolor Sit Amet</h5>
            <label>Nov 11 2014</label>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
        </div>
        <div class="news-grid">
            <h5>Lorem Ipsum Dolor Sit Amet</h5>
            <label>Nov 11 2014</label>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
        </div>
        <a class="more" href="#">MORE</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="more-reviews">
    <ul id="flexiselDemo2">
        @foreach (string nomImage in Model.ListDeux)
        {
            @:<li><img src="https://image.tmdb.org/t/p/w500/@nomImage" alt="" /></li>
        }
    </ul>
    @Scripts.Render("~/Scripts/Flexi2")
    @Scripts.Render("~/Scripts/Flexisel")
</div>