﻿@*à relire, code Michael*@
@{
    ViewBag.Title = "resultat";
}

@*<h2>resultat</h2>*@
@*@foreach (string item in Model)
    {
        <h2>@item.Title</h2>
        @:<img src="https://image.tmdb.org/t/p/w200/@item" /><hr />
    }*@
@*@foreach (NetFlask.Models.MovieInfo item in Model)
    {
        <h2>@item.Title</h2>
        @:<img src="https://image.tmdb.org/t/p/w200/@item.Picture" /><hr />
    }*@

@section HeaderInfo
{
    @{
        Html.RenderPartial("~/Views/Shared/_GeneralHeader.cshtml");
    }
}
<div class="reviews-section">
    <h3 class="head">Résultat de la recherche pour "@ViewBag.Search" (@Model.Count films(s) trouvé(s))</h3>
    <div class="col-md-9 reviews-grids">
        @foreach (NetFlask.Models.MovieReview item in Model)
        {
            Html.RenderPartial("~/Views/Home/_PartialReview.cshtml", item);
        }
    </div>
    <div class="clearfix"></div>
</div>
