﻿@{
    ViewBag.Title = "Best Movies - NetFlask 4Ever";

}
@section MoreCss
{
    @Styles.Render("~/Content/Pop")
}

@section HeaderInfo
{
    @{
        Html.RenderPartial("~/Views/Shared/_GeneralHeader.cshtml");
    }
}
@section MagnificPop
{ 
    @Scripts.Render("~/Scripts/Pop")

            
}
    <div class="right-content">
        <div class="right-content-heading">
            <div class="right-content-heading-left">
                <h3 class="head">Latest Colletcion of videos</h3>
            </div>
        </div>
        <!-- pop-up-box -->
        @*<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />*@
        @*mis dans le head via section*@
        @*<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>*@




        <!--//pop-up-box -->

        <script>
            $(document).ready(function () {
                $('.popup-with-zoom-anim').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });
            });
        </script>
    <div class="content-grids">
        @foreach (NetFlask.Models.MovieInfo item in Model)
        {
            <div class="content-grid">
                @*<iframe src="@item.Video" frameborder="0" allowfullscreen></iframe> si on veut seulement et directement la video clickable*@
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog-@item.Id"><img src="https://image.tmdb.org/t/p/w500/@item.Picture" title="allbum-name" /></a>
                @*<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/images/gridallbum1.jpg" title="allbum-name" /></a>*@
                <h3>@item.Title</h3>
                @*<a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>*@
                <ul>
                    <li><a href="#"><img src="/images/likes.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/views.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/link.png" title="image-name" /></a></li>
                </ul>
            </div>
            <div id="small-dialog-@item.Id" class="mfp-hide">
                <iframe src="@item.Video" frameborder="0" allowfullscreen></iframe>
            </div>
        }
        <div class="clearfix"> </div>
        <!---start-pagenation----->
        <div class="pagenation">
            <ul>
                <li><a href="/Home/Pagination/1">1</a></li>
                <li><a href="/Home/Pagination/2">2</a></li>
                <li><a href="/Home/Pagination/3">3</a></li>
                <li><a href="/Home/Pagination/4">4</a></li>
                <li><a href="/Home/Pagination/5">5</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <!---End-pagenation----->
    </div>
    </div>
<div class="clearfix"> </div>
			</div>	