﻿<form method="post" action="/Home/SimpleSearch">
    <input name="txtSearch" type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}" />
    <input type="submit" value="">
</form>
